@{
    Layout = "~/Views/Home/_Home.cshtml";
}

<div class="news-wrapper">
    Home — News
</div>

@section Scripts{

    <script src="~/Views/Home/News/script1.js"></script>
    <script src="~/Views/Home/News/script2.js"></script>
}